<div class="SMcomponent">
<div class="contenedor1">
<div class="image-contenedor">
    <img src="../../../assets/perfil2.png"alt="" id="image-perfil">
    <span class="material-symbols-outlined" id="edit-image">edit</span>
</div>
<span class="smP">
    Programador Jr <br>
    Marcos Benencia <br>
    Argentina, Bs As. <br>
    <a href="" id="infCont">Informacion Contacto</a>
</span>
<div class="smdiv"> 
    <p> Empecé de forma independiente como un hobby y pronto me inscribí en distintos cursos para ampliar mi conocimiento, algunos cursos como:</p>
    <span class="contentsmdiv">
    <a href="https://www.aluracursos.com/" target="_blank"><img src="../../../assets/aluralogo.jpg" alt="" title="Alura Cursos" style="width: 90px; height: 70px;" id="imgSpan"></a>
    <a href="https://www.freecodecamp.org/learn" target="_blank"><img src="../../../assets/freecodecamp.png" alt="" title="freeCodeCamp" style="width: 90px; height: 70px;" id="imgSpan"></a>
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="../../../assets/arg programa.jpg" alt="" title="Argentina Programa" style="width: 90px; height: 70px;" id="imgSpan"></a>
    </span>
</div>
</div>
<div class="contentButtons">
<button type="button" id="tengInt">Tengo Interés</button>
<button type="button" id="anadSec">Añadir Sección</button>
<button type="button" id="more">Más</button>
</div>


</div>