<div class="SMcomponent">
<div class="contenedor1">
<div class="image-contenedor">
    <img src="../../../assets/ronnieperfil.jpg"alt="" id="image-perfil">
    <span class="material-symbols-outlined" id="edit-image">edit</span>
</div>
<span class="smP">
    Programador Jr <br>
    Marcos Benencia <br>
    Argentina, Bs As. <br>
</span>
</div>
<!--carousel-->
<div class="container">
    <div class="imgcontent">
        <p> Empecé de forma independiente como un hobby y pronto me inscribí en distintos cursos para ampliar mi conocimiento, algunos cursos como:</p>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    

    </div>
</div>